# Files to ignore 
negus/db.sqlite3 
package-lock.json
negus/static/css/bootstrap/base.css.map
negus/static/css/bootstrap/base.min.css
negus/static/css/bootstrap/base.min.css.map


# Directories to ignore
contact/__pycache__/
contact/migrations/
menu/migrations/
menu/__pycache__/ 
navigation/__pycache__/ 
navigation/migrations/
negus/__pycache__/
negus/static/
negus/settings/__pycache__/
node_modules/
scss/


