
{% extends "base.html" %}

{% block content %}
    <div class = "container">
            <h1 class = "text-center text-uppercase">menu</h1>
            {% for each_category in categories %}
                <h2 class = "text-center text-uppercase">{{ each_category.name }}</h2>
                    <div class = "row">
                        {% for each_dish in dishes %}
                            {% if each_dish.category == each_category %}
                                <div class = "col-6">
                                    <h3>{{ each_dish.name }}</h3>
                                    </p>{{ each_dish.description }}</p>
                                    <em>{{ each_dish.price }}</em>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% endfor %}
            <a href="#">#</a>
    </div>
{% endblock %}

