{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block meta %}
<title>{% trans "Contact Us" %} | {% trans "Negus restaurant" %}</title>
{% endblock %}

{% block content %} 
<div class = "container-fluid mt-5">
    <div class = "row font-paragraph"> 
        <div class = "flag">
            <div class = "first-color"></div> 
            <div class = "second-color"></div>
            <div class = "third-color"></div>
            <div class = "col-10 col-md-6 vh-max-100 mx-auto mt-5 background-white border border-primary">
                <h2 class = "my-4 text-center font-heading font-25 text-inline text-success">{% trans "Contact Us" %}</h2>
                <h4 class = "col-8 mx-auto font-heading text-center">{% trans "Any questions? Would you like some information?" %}</h4>
                <form class = "form-horizontal" action = "{% url 'contact:form' %}" method = "post">
                    {% csrf_token %}
                    <div class = "form-row">
                        <div class = "form-group col-12">
                        {{ form.full_name |as_crispy_field }}
                        </div>
                        <div class = "form-group col-12">
                        {{ form.email |as_crispy_field }}
                        </div>
                        <div class = "form-group col-12 h-max-100">
                        {{ form.message |as_crispy_field }}
                        </div>
                        <button class = "btn btn-primary" type = "submit">{% trans 'Contact Us'%}</button>
                    </div>
                </form>
            </div>
         </div>    
    </div>
</div>
{% endblock %}

